@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 250, 246, 238;
  --background-start-rgb: 15, 14, 12;
  --background-end-rgb: 15, 14, 12;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
